@tailwind base;
@tailwind components;
@tailwind utilities;


.center{
  @apply flex justify-center items-center;
}

.link{
  @apply hover:underline cursor-pointer hover:text-tea;
}

#container {
  height: 100vh;
  width: 100vw;
}
#container-2 {
  height: 100vh;
  width: 100vw;
}

.full-screen{
  height: 100vh;
  width: 100vw;
}

.title {
  @apply text-6xl;
}


.mobole{
  position: fixed;
  
}