$layout-breakpoint-small: 320px;

html {
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;

}

p {
    font-size: 1.3rem;
    line-height: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 21px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1.2rem;
}

blockquote {
    padding: 1.5rem 2rem;
    margin: 2rem 0;
    background-color: rgba(255, 229, 100, 0.3);
    border-left: 6px solid rgba(255, 229, 100, 0.3);
    font-size: 1.5rem;
    width: 100%;
}

li {
    margin: 7px 0;
    padding-left: 1.2rem;
}

ul {
    margin-left: 30px;
    list-style: circle;
}

ol {
    margin-left: 30px;
    list-style: decimal-leading-zero;
}

main a {
    text-underline-position: above;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}



code {
    border-radius: 2px;
    box-shadow: 0 0 3px 1px rgb(0 0 100 / 5%) inset;
    background-color: rgba(220, 220, 220, .5);
    padding: 3px 6px;
    margin: 0 5px;
    color: #6a6a73;
    font-size: .9rem;
}

.navigation-buttom {
    position: fixed;
    transform: translateX(100px);
}

@media (max-width: 700px) {

    html {
        font-size: 10px;
    }

    .post {
        padding: 1.5rem;
    }

    .mobile {
        top: 0;
        left: 0;
        width: 80vw;
        transition: .5s;
        position: fixed;
        transform: translateX(-100%);
        padding: 2rem 2.5rem;
    }

    .navigation-buttom {
        position: fixed;
        transform: translateX(0);
    }

    .false {
        transform: translateX(0);
        margin-bottom: 30px;
    }

    .full-screen {
        padding: 5px;
    }
}